/* -------------------------- */
/* kv
/* -------------------------- */
.kv-wrapper{
    height: 500px;
    position: relative;
   
}
.kv-animation{
    color: #ffffff;
    background-image: linear-gradient(90deg,#e6551e,#f58c2d);
    -webkit-clip-path: polygon(0 0,100% 15%, 100% 85%, 0 100%);
}
.kv-copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.my-name{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.kv-name{
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}
.kv-message{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
/* animation */
.blur{
    animation: blurAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes blurAnime{
    from{
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }
    to{
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}
.blurTrigger{
    opacity: 0;
}
.blur-sub{
    animation: blurAnime-sub;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes blurAnime-sub{
    from{
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }
    to{
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}
.blurTrigger-sub{
    opacity: 0;
}
/* -------------------------- */
/* works
/* -------------------------- */
.works-list{
    flex-wrap: wrap;
    margin-bottom: -50px;
}
.works-item{
    width: 32.4%;
    margin-bottom: 50px;
}
/*擬似要素-数が中途半端は時だけ生かす*/
.works-list::after{
    display: block;
    content:"";
    width: 32.4%;
}
/*擬似要素-数が中途半端は時だけ生かす*/
.works-item-featured{
    width: 47.4%;
}
.works-img-wrapper{
    margin-bottom: 8px;
    background-color: #fff;
    transition: .3s;
    border: 2px solid #777;
}
.works-item a{
    display: block;
}
.works-item a img{
    transition: .3s;
}
.works-item a:hover{
    opacity: .8;
}
.works-item a:hover img{
    transform: scale(1.05,1.05);
}
.works-item a:hover .works-img-wrapper{
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
}
.works-title{
    font-weight: bold;
}
.works-category{
    display: block;
    font-size: 1.2rem;
    color: #777;
    margin-top: 5px;
    font-weight: normal;
}
.twitter-logo{
    width: 36px;
    margin-bottom: 20px;
}

/* -------------------------- */
/* about
/* -------------------------- */
.about-top-inner{
    color: #333;
}
.about-lead{
    margin-bottom: 60px;
}
.about-my-description{
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}
.about-bg{
    background-image: linear-gradient(270deg,#e6551e,#f58c2d);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
}
/* -------------------------- */
/* ページ内リンク
/* -------------------------- */
/*スクロールリンクの形状*/
.scroll-top {
	/*表示位置*/
	position: fixed;
	right: 20px;
	bottom: 10px;
	z-index: 2;
	/*はじめは非表示*/
	opacity: 0;
	visibility: hidden; 
	transition: opacity .5s, visibility .5s; /*それぞれに0.5秒の変化のアニメーション*/
	/*縦書き*/
	-webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
	/*改行禁止*/
    white-space: nowrap;
	/*矢印の動き*/
	animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove{
      0%{bottom:20px;}
      50%{bottom:25px;}
     100%{bottom:20px;}
 }


/*.scroll-viewクラスがついたら出現*/
.scroll-top.scroll-view {
	opacity: 1;
	visibility: visible;
}

/*リンク全体の aタグの形状*/
.scroll-top a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	font-size:1.6rem;
    display: block;
}

/*スクロールリンクの形状*/

.js-scroll a::after{
	content:"";
	position: absolute;
	top:0;
	right:0;
	width:1px;
	height: 50px;
	background:#666;
}

.js-scroll a::before {
    content: "";
    position: absolute;
    top: 30px;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(-31deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x), .js-scroll a::before{
	right:-11px;
}

/*ページトップリンクの形状*/

.js-pagetop a::after{
	content:"";
	position: absolute;
	top:0;
	right:0;
	width:1px;
	height: 50px;
	background:#666;
}

.js-pagetop a::before {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(31deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x), .js-pagetop a::before{
	right:0;
}

@media screen and (max-width:768px){
    /* ---------------------- */
    /* kv
    /* ---------------------- */
    .kv-wrapper{
        height: 62vh;
        min-height: 280px;
    }
    .kv-message{
        line-height: 1.5;
        padding: 0 20px;
    }
    /* ---------------------- */
    /* works
    /* ---------------------- */
    .works-item{
        width: 100%;
        margin-bottom: 24px;
    }
    .about-top{
        display: none;
    }
}
@media screen and (max-width:375px){
    .kv-wrapper{
        height: 62vh;
        min-height: 280px;
    }
    .kv-name{
        font-size: 1.6rem;
    }
    .kv-animation{
        background-image: linear-gradient(90deg,#e6551e,#f58c2d);
        -webkit-clip-path: polygon(0 30%,100% 40%, 100% 60%, 0 70%);
    }
    .about-my-description{
        font-size: 1.6rem;

    }
}